
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name = " viewport "
          content = " width = device-width, user-scaleable = no, initial-scale = 1.0, maximum-scale = 1.0, minimum-scale = 1.0 " >
    <meta  http-equiv = " X-UA-Compatible "  content = " ie = edge ">
    <title>7h3 5h0p</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link  rel="stylesheet" href="css/main.css ">
    <script src="js/scripts.js"></script>
  </head>
  <body>
    <div class="app">
      <div class="app__header header">

      <a href="#"><img class="name-magazin"src="img/the_shop_logo.svg" alt="Shop logo"></a>
      <a href="http://oggettoweb.ru/" target="_blank"><img class="oggetto-logo"src="img/oggetto_logo.svg" alt="Oggetto logo"></a>
      <span class="header__contact">+7(812)2*12*85*06</span>
      </div>

      <div class="app__navigation navigation">
        <div class="app__navigation-link">
          <%
          pagesList = [
          {
            'isLink': false,
            'text': 'LISP'
          },
          {
            'isLink': true,
            'text': 'OCaml',
            'link' : '#'
          },
          {
            'isLink': true,
            'text': 'JavaScript',
            'link' : '#'
          },
          {
            'isLink': true,
            'text': 'Python',
            'link' : '#'
          },
          {
            'isLink': true,
            'text': 'PHP',
            'link' : '#'
          }
          ]
          %>

          <%
          pagesList.forEach(function(item) {
            if (item.isLink == true) { %>
              <a href="<%= item.link %>" class="navigation_link"><%= item.text %></a>
              <% } else { %>
                <span class="navigation_str"><%= item.text %></span>
                <% } %>
                <% }); %>
        </div>

        <input id="searchInput" class="app__navigation-search" type="text" placeholder="Поиск">
      </div>

      <div class="app__page page">
        <div class="page__clothes clothes">
          <%
          pagesClothes = [
            {
              'isLink': true,
              'text': 'LISP',
              'link' : '#'
            },
            {
              'isLink': true,
              'text': 'Одежда',
              'link' : '#'
            },
            {
              'isLink': false,
              'text': 'Футболки'

            }
          ]
          %>

          <%
          pagesClothes.forEach(function(item) {
            if (item.isLink == true) { %>
              <a href="<%= item.link %>" class="clothes_link"><%= item.text %></a>
            <% } else { %>
              <span class="clothes_str"><%= item.text %></span>
            <% } %>
          <% }); %>
        </div>
        <div class="page__product product">
          <div class="product__photo">
            <img id="tshirt-white" class="photo none" src="./img/tshirts/tshirt_white.jpg">
            <img id="tshirt-green" class="photo none" src="./img/tshirts/tshirt_green.jpg">
            <img id="tshirt-yellow" class="photo none" src="./img/tshirts/tshirt_yellow.jpg">
          </div>
          <form id="product-form" name="product-form" class="product__product-description product-description">
            <span id="title-of-product" class="caption">Футболка Alien technology</span>
            <span>Состав: 100% хлопок,динамическая типизация,польская нотация.Производство: Россия</span>
            <span id="price-of-product" class="price">1500P</span>
            <span>Размер:</span>
            <div class="product-description__variables variables">
              <button id="tshirt-s-variable-button" type="button" name="tshirt-s-variable-button" class="variables__variant variant" value="S">S</button>
              <button id="tshirt-m-variable-button" type="button" name="tshirt-m-variable-button" class="variables__variant variant" value="M">M</button>
              <button id="tshirt-l-variable-button" type="button" name="tshirt-l-variable-button" class="variables__variant variant" value="L">L</button>
            </div>
            <span>Цвет:</span>
            <div class="product-description__variables variables">
              <button id="tshirt-white-variable-button" type="button" name="tshirt-white-variable-button" class="variables__variant variant variant_white" value="Белый"></button>
              <button id="tshirt-green-variable-button" type="button" name="tshirt-green-variable-button" class="variables__variant variant variant_green" value="Зелёный"></button>
              <button id="tshirt-yellow-variable-button" type="button" name="tshirt-yellow-variable-button" class="variables__variant variant variant_yellow" value="Жёлтый"></button>
            </div>
            <button id="submit-form-button" type="submit" class="buy">Купить</button>
            <div class="product-description__postpound-on-later postpound-on-later">
              <img class="heart"src="./img/icons/heart.svg">
              <a class="later" href>Отложить на потом</a>
            </div>
          </form>
        </div>
      </div>

      <div class="app__footer footer">
        <div class="footer__navigation-menu navigation-menu">
          <div class="navigation-menu__service service">
            <span class=" service__caption caption_small">Сервис и поддержка</span>
            <div class="service__row row">
              <%
              const serviceMenu = [
                'Как сделать заказ',
                'Возврат товара',
                'Публичная оферта',
                'Доставка',
                'Способы оплаты',
                'Правила продажи',
                'Возврат денежных средств',
                'Вопросы и ответы'
              ]
              %>

              <%
              serviceMenu.forEach(function(item) {
              %>
                <a href="#" class="menu_link"><%= item %></a>
              <%
              });
              %>
            </div>
          </div>
          <div class="navigation-menu__service service">
            <span class=" service__caption caption_small">О компании</span>
            <div class="service__row row">
              <%
              const aboutUsMenu = [
                'О нас',
                'Контакты',
                'Вакансии',
                'Партнерам',
                'Сертификаты',
                'Преимущества',
                'Наши скидки'
              ]
              %>

              <%
              aboutUsMenu.forEach(function(item) {
              %>
                <a href="#" class="about_link"><%= item %></a>
              <%
              });
              %>
            </div>
            </div>
          <div class="navigation-menu__service service">
            <%
            const plusesOfCompany = [
              {
                'text': 'Бесплатная доставка от 4000Р',
                'img': './img/icons/delivery.svg'
              },
              {
                'text': 'Пробники в подарок при каждой покупке',
                'img': './img/icons/heart.svg'
              },
              {
                'text': 'Акции и подарки за покупку',
                'img': './img/icons/cup.svg'
              }
            ]
            %>

            <%
            plusesOfCompany.forEach(function(item) {
            %>
              <div class="pluses-of-the-company">
                <img class="footer_icon" src="<%= item.img %>">
                <span><%= item.text %></span>
              </div>
            <%
            });
            %>
          </div>
          <div class="navigation-menu__social-networks social-networks">
            <%
            const socialNetworks = [
              {
                'url': '#',
                'img': './img/icons/facebook.svg'
              },
              {
                'url': '#',
                'img': './img/icons/twitter.svg'
              },
              {
                'url': '#',
                'img': './img/icons/instagram.svg'
              }
            ]
            %>

            <%
            socialNetworks.forEach(function(item) {
            %>
              <a href="<%= item.url %>" class="a-social">
                <img class="social_link" src="<%= item.img %>">
              </a>
            <%
            });
            %>
          </div>
        </div>
        <hr class="line">
        <div class="footer__copyright copyright">
          <p>2005-2017 &#169 7р35рOp.ru-модный интернет-магазин одежды, обуви и аксессуаров.</p>
          <p>Все права защищены.Доставка по всей России!</p>
        </div>
      </div>
    </div>
  </body>

</html>
